{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes List</title>
    <link rel="stylesheet" href="{% static 'css/lab4_index.css' %}" />
</head>
<body>
    {% include "anchor.html" %}
    <h1>NOTES LIST</h1>
    <table>
        <tr>
            <th>To</th>
            <th>From</th>
            <th>Title</th>
            <th>Message</th>
        </tr>
        {% if notes %}
            {% for note in notes %} 
            <tr>
                <td>{{note.to}}</td>
                <td>{{note.origin}}</td>
                <td>{{note.title}}</td>
                <td class= "long-cell">{{note.message}}</td>
            </tr>
            {% endfor %}
        {% endif %}
    </table>
</body>
</html>