{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes List</title>
    <link rel="stylesheet" href ="{% static 'css/lab4_note_list.css' %}"/>
</head>
<body>
    {% include "anchor.html" %}
    <h1> List of Notes </h1>
    {% if notes %}
        {% for note in notes %}
        <div>
            <p class="title">{{note.title}}</p>
            <p class = "after_title"> To whom it may concern <label>({{note.to}})</label></p>
            <p>{{note.message}}</p>
            <p> by <label>{{note.origin}}</label></p>
        </div>
        <br>
        {% endfor %}
    {% endif %}
</body>
</html>