{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Note</title>
    <link rel = "stylesheet" href= "{% static 'css/lab4_form.css' %}">
</head>
<body>
    {% include "anchor.html" %}
    <div>
        <h1>CREATE NOTE</h1>
        <form action="" method="post">
            {% csrf_token %}
                <label>To:</label> 
                <br>
                {{form.to}}
                <br>
                <label>From:</label>
                <br>
                {{form.origin}}
                <br>
                <label>Title:</label> 
                <br>
                {{form.title}}
                <br>
                <label>Message:</label>  
                <br>
                {{form.message}}
                <br>
            <input type="submit" value="submit">
        </form>
    </div>
</body>
</html>
<!-- To: <div id="div1">{{form.to}}</div>
            <br>
            From: <div id="div1">{{form.origin}}</div>
            <br>
            Title: <div id="div1">{{form.title}}</div>
            <br>
            Message: <div id="div1">{{form.message}}</div>
            <br>
-->
