h1 {
    text-align: center;
}

#maindiv {
    width: 70%;
    margin: auto;
}

td, th {
    border: 2px solid black;
    background-color: wheat;
}

table {
    border-collapse: collapse;
}

.long {
    max-width: 60ch;
    word-wrap: break-word;
}

button {
    color: blue;
    background-color: wheat;
    min-width: 60px;
}

p {
    word-wrap: break-word;
}