{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
            crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{% static 'css/lab5_index.css' %}">
    <script src="{% static 'js/ved.js' %}" type= "text/javascript"></script>
</head>
<body>
    <h1>Notes List</h1>
    <br>
    <div id="maindiv">
        <table>
            <tr class = "heading">
                <th>To</th>
                <th>From</th>
                <th>Title</th>
                <th>Message</th>
                <th>Actions</th>
            </tr>
            {% if notes %}
                {% for note in notes %}
                <tr id = "row{{note.id}}">
                    <td id="to{{note.id}}">{{ note.to }}</td>
                    <td id = "from{{note.id}}">{{note.origin}}</td>
                    <td id = "title{{note.id}}">{{note.title}}</td>
                    <td  id = "message{{note.id}}" class = "long">{{note.message}}</td>
                    <td>
                        <div>
                            <button class="view" data-toggle="modal" data-target="#exampleModal" id = "view{{note.id}}">View</button><br>
                            <button class="edit" data-toggle="modal" data-target="#exampleModal" id = "edit{{note.id}}">Edit</button><br>
                            <button class="delete" id="delete{{note.id}}">Delete</button><br>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id = "view-div">
            <p id= "to"></p>
            <p id= "from"></p>
            <p id= "title"></p>
            <p id= "message"></p>
          </div>
          <div id = "edit-div">
              To:<input type="text" id = "to-input"> <br>
              From: <input type="text" id = "from-input"> <br>
              Title: <input type="text" id= "title-input"> <br>
              Message: <input type="text" id= "message-input"> <br>
              <button id = "submit-button">Edit</button>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>