<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        Name: {{form.name}}
        Npm: {{form.npm}}
        Dob: {{form.dob}}
        <input type="submit" value="Submit">
    </form>
</body>
</html>