<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TBD</title>
</head>
<body>
    <table>
        <tr>
            <th>NAME</th>
            <th>NPM</th>
            <th>DOB</th>
        </tr>
        {% if friends %}
            {% for friend in friends %}
            <tr>
                <td>{{friend.name}}</td>
                <td>{{friend.npm}}</td>
                <td>{{friend.dob}}</td>
            </tr>
            {% endfor %}
        {%endif %}
    </table>
</body>
</html>