#long_input {
    width: 88ch;
    background-color: wheat;
    border-radius: 4px;
    border: solid;
    padding-left: 5px;
    margin-left: 4%;
}

input[type=text] {
    width: 44ch;
    background-color: wheat;
    border-radius: 4px;
    border: solid;
    padding-left: 5px;
    margin-left: 4%;
}   

.long_message {
    height: 26ch;
    width : 89ch;
    text-align: justify;
    resize: none;
    background-color: wheat;
    border-radius: 4px;
    border: solid;
    padding-left: 5px;
    margin-left: 4%;
}
label, input[type="submit"] {
    margin-left: 4%;
}

h1 {
    margin-left: 4%;
    margin-top: 5%;
}

div {
    background-color: paleturquoise;
    width: 89ch;
    height: 55ch;
    margin-left: 20%;
}