table {
    border: thin solid wheat;
    width: 100%;
    border-collapse: collapse;
    margin-top: 5%;
    word-wrap: break-word;
}

th, td {
    border: thin solid black;
    background-color: wheat;
    color: black;
    font-family: Helvetica;
    text-align: center;
    max-width: 10ch;
    
}
.long-cell {
    border: thin solid black;
    background-color: wheat;
    color: black;
    font-family: Helvetica;
    text-align: justify;
    max-width: 85ch;   
}

h1 {
    text-align: center;
    
}