h1 {
    text-align: center;
    color: purple;
}

div {
    margin-left: 35%;
    background-color: wheat;
    width: 400px;
    word-wrap:break-word;
    border: 4px solid black;
    border-radius: 4px;
}

.title {
    font-weight: bold;
    word-wrap:break-word;
}

label {
    font-weight: bold;
}